<div class="relative px-0 sm:px-4 md:px-12 lg:px-16 xl:px-20">

  <button (click)="prev()" [disabled]="index === 0" class="absolute left-2 top-1/2 z-10 -translate-y-1/2
           flex h-10 w-10 items-center justify-center rounded-full border border-slate-200 bg-white shadow-md transition
           disabled:opacity-40
           sm:left-3 sm:h-11 sm:w-11
           md:left-4 md:h-12 md:w-12
           lg:left-0
           xl:-left-6">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>

  <div class="overflow-hidden">
    <div class="flex transition-transform duration-500" [style.transform]="trackTransform">
      <ng-content></ng-content>
    </div>
  </div>

  <button (click)="next()" [disabled]="index === maxIndex" class="absolute right-2 top-1/2 z-10 -translate-y-1/2
           flex h-10 w-10 items-center justify-center rounded-full border border-slate-200 bg-white shadow-md transition
           disabled:opacity-40
           sm:right-3 sm:h-11 sm:w-11
           md:right-4 md:h-12 md:w-12
           lg:right-0
           xl:-right-6">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>

</div>

<div class="mt-6 flex justify-center gap-2 sm:mt-8 md:mt-10 md:gap-3 lg:mt-12">
  @for (i of [].constructor(pages); track $index) {
  <button (click)="goTo($index)" class="h-2.5 w-2.5 rounded-full transition sm:h-3 sm:w-3"
    [class.bg-blue-700]="index === $index" [class.bg-slate-300]="index !== $index">
  </button>
  }
</div>
