<footer>
  <div class="footer-cols" [style.grid-template-columns]="'repeat(' + columns + ', 1fr)'">

    @for(headerLink of footerLinks; track headerLink) {

    <div>
      <h3>{{ headerLink.label | translate }}</h3>

      @for(navLink of headerLink.navLinks; track navLink) {
      @if(!navLink.isRouterLink) {
      <a [href]="navLink.url" target="_blank">
        {{navLink.label | translate}}
      </a>
      } @else {
      <a (click)="goToRoute(navLink.url!)">
        {{ navLink.label | translate }}
      </a>
      }

      }

    </div>
    }








  </div>

  <div class="mt-8"></div>

  <div class="footer-cols" [style.grid-template-columns]="'repeat(' + columns + ', 1fr)'">
    @if(socialLinks) {
    <div>
      <h3>{{ "FOOTER.follow-us" | translate }}</h3>

      <div class="flex justify-start text-gray-500 dark:text-gray-400">
        @for (social of socialLinks; track social.url) {
        <fa-icon (click)="openNewTab(social.url!)" size="lg" [ngClass]="{ 'mr-4': !$last }" class="cursor-pointer"
          [icon]="social.icon"></fa-icon>
        }
      </div>



    </div>
    }

    <div class="mt-5 md:gap-3 flex flex-col md:flex-row md:justify-start text-gray-500 dark:text-gray-400">

      @if(checkLogged) {
      <a (click)="feedback = !feedback; $event.stopPropagation();" class="hover:underline cursor-pointer">
        Feedback
      </a>}



      <a href="https://www.linkedin.com/newsletters/newsletter-7142535480692133889/"
        class="hover:underline cursor-pointer">
        Newsletter
      </a>
    </div>
  </div>


</footer>


@if(feedback) {
<feedback-modal rateMessage="{{ 'FEEDBACK._footer_title' | translate }}"
  writeMessage="{{ 'FEEDBACK._footer_improve' | translate }}" type="experience"
  class="fixed inset-0 flex items-center justify-center z-40">
</feedback-modal>
}
